.align-right {
    clear: right;
    float: right;
    height: auto;
    margin-left: 1em;
    text-align: right;
    width: auto
    }
.alignleft {
    height: 10px;
    width: 30px
    }
.biografia {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    text-align: justify;
    width: 99%;
    margin: 0;
    padding: 0;
    border: #e0e0e0 dotted thin
    }
.bl {
    color: #fff;
    display: block;
    font-size: 0.625em;
    line-height: 1.2;
    text-indent: 2em;
    margin: 5px 0 0;
    padding: 0
    }
.bl1 {
    color: #fff;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 2em;
    margin: 0;
    padding: 2px
    }
.calibre {
    background: white;
    display: block;
    font-size: 1em;
    width: 99%;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    background: white;
    display: block;
    width: 99%;
    margin: 0;
    padding: 0
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    margin: 5px 0 0;
    padding: 0
    }
.calibre6 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre7 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre8 {
    background-color: white;
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    height: 14px;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre9 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre10 {
    display: table-row;
    vertical-align: inherit
    }
.calibre11 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    padding: 1px
    }
.calibre12 {
    font-family: Verdana;
    font-size: 0.83333em
    }
.calibre13 {
    font-style: italic
    }
.calibre14 {
    display: block;
    text-indent: 2em;
    margin: 5px 0 0;
    padding: 0
    }
.calibre15 {
    background: white;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    margin: 0 5pt;
    padding: 0
    }
.calibre16 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.67em 0
    }
.calibre17 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.83em 0
    }
.calibre18 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre19 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 2em;
    margin: 0;
    padding: 2px
    }
.calibre20 {
    height: auto;
    width: auto
    }
.calibre21 {
    display: block;
    margin: 1em 0
    }
.calibre22 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.caption {
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 2px
    }
.caratula {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.colofon {
    background: white;
    display: block;
    text-align: right;
    text-indent: 0;
    width: 99%;
    margin: 0;
    padding: 0
    }
.cuento {
    display: block;
    font-family: "Times New Roman", "Times Roman", serif;
    line-height: 130%;
    text-indent: 2em;
    padding: 0
    }
.docutils {
    color: gray;
    display: block;
    height: 2px;
    width: 75%;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.editorial {
    display: block;
    line-height: 120%;
    text-indent: 0
    }
.epigraph {
    display: block;
    font-style: italic;
    text-indent: 0;
    margin: 2em 0 2em 3em
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 0.67em auto
    }
.pri {
    display: block;
    text-indent: 0;
    margin: 0.5em 0 0;
    padding: 0
    }
.pri1 {
    display: block;
    padding-top: 0.3em
    }
.pri2 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    margin: 0.5em 0 0;
    padding: 0
    }
.reference {
    text-decoration: none
    }
.tumbnail {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-top-style: none;
    border-top-width: medium;
    display: block;
    float: right;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.625em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
    text-indent: 0;
    width: 210px;
    padding: 0.3em 0 0
    }
.pcalibre1:first-letter {
    font-size: 120%;
    font-style: italic;
    font-weight: bold
    }
.pcalibre:first-letter {
    font-size: 120%;
    font-weight: bold
    }
