.align-center {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 106px
    }
.align-center1 {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100px
    }
.align-right {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 152px
    }
.align-right1 {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 84px
    }
.align-right2 {
    clear: right;
    float: right;
    height: auto;
    margin-left: 1em;
    text-align: right;
    width: auto
    }
.biografia {
    background-color: white;
    border: thin dotted #e0e0e0;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 99%
    }
.biografia1 {
    background: inherit;
    background-color: white;
    border: thin dotted #e0e0e0;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 99%
    }
.biografia2 {
    background-color: white;
    border: thin dotted #e0e0e0;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 99%
    }
.calibre {
    background: inherited;
    color: inherited;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre1 {
    background: inherited;
    color: inherited;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre10 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center;
    text-indent: 0
    }
.calibre11 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: justify;
    text-indent: 3em
    }
.calibre12 {
    height: auto;
    width: auto
    }
.calibre13 {
    display: table-column-group
    }
.calibre14 {
    display: table-column
    }
.calibre15 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre16 {
    display: table-row;
    vertical-align: inherit
    }
.calibre17 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre18 {
    height: auto;
    width: 120px
    }
.calibre19 {
    background: inherited;
    background-color: #d0d8df;
    color: inherited;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre20 {
    color: #4060C0;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.calibre21 {
    color: #000060;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center
    }
.calibre22 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre23 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre24 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre25 {
    display: block;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre26 {
    text-decoration: underline
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre6 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre7 {
    background: inherited;
    border: 1px solid rgb(128, 192, 192);
    color: inherited;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre8 {
    font-style: italic
    }
.calibre9 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center;
    text-indent: 0
    }
.caption {
    display: block;
    font-size: 0.83333em;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: justify;
    text-indent: 0
    }
.caption1 {
    display: block;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.caratula {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    width: 100%
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.colofon {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0;
    width: 99%
    }
.correo {
    background-color: #c0c8d0;
    display: block;
    float: center;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.derecha {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0
    }
.derecha1 {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 124px
    }
.document {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.document1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.docutils {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-indent: 0
    }
.docutils1 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    width: 75%
    }
.epigraph {
    display: block;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.line {
    display: block;
    line-height: 1.2
    }
.line-block {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em
    }
.line-block1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-top: 1em
    }
.line-block2 {
    display: block;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-top: 0
    }
.mensaje {
    background-color: #d0d8df;
    display: block;
    float: center;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 99%
    }
.pri {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.pri1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.pri2 {
    background: inherit;
    background-color: white;
    border: thin dotted #e0e0e0;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0;
    width: 99%
    }
.reference {
    text-decoration: none
    }
.respuesta {
    background-color: #d0d8df;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: #000080;
    display: block;
    float: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 99%
    }
.section {
    display: block
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.pcalibre1:first-letter {
    font-size: 120%;
    font-style: italic;
    font-weight: bold
    }
.pcalibre:first-letter {
    font-size: 120%;
    font-weight: bold
    }
