.admonition-nota-del-autor {
    display: block;
    padding: 1em;
    border: currentColor outset medium;
    margin: 2em
    }
.align-center {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px
    }
.align-center1 {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 306px
    }
.align-left {
    clear: left;
    display: block;
    float: left;
    margin-left: 2em;
    margin-right: 1em;
    text-align: left;
    width: 300px
    }
.align-left1 {
    clear: left;
    display: block;
    float: left;
    margin-left: 2em;
    margin-right: 1em;
    text-align: left;
    width: 180px
    }
.align-left2 {
    clear: left;
    display: block;
    float: left;
    margin-left: 2em;
    margin-right: 1em;
    text-align: left;
    width: 150px
    }
.align-left3 {
    clear: left;
    display: block;
    float: left;
    margin-left: 2em;
    margin-right: 1em;
    text-align: left;
    width: 352px
    }
.align-left4 {
    clear: left;
    display: block;
    float: left;
    margin-left: 2em;
    margin-right: 1em;
    text-align: left;
    width: 310px
    }
.align-left5 {
    clear: left;
    display: block;
    float: left;
    margin-left: 2em;
    margin-right: 1em;
    text-align: left;
    width: 336px
    }
.align-left6 {
    clear: left;
    display: block;
    float: left;
    margin-left: 2em;
    margin-right: 1em;
    text-align: left;
    width: 318px
    }
.align-left7 {
    clear: left;
    display: block;
    float: left;
    margin-left: 2em;
    margin-right: 1em;
    text-align: left;
    width: 474px
    }
.align-right {
    clear: right;
    float: right;
    height: 209px;
    margin-left: 1em;
    text-align: right;
    width: 150px
    }
.align-right1 {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 421px
    }
.align-right2 {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 200px
    }
.align-right3 {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 470px
    }
.align-right4 {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 150px
    }
.align-right5 {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 277px
    }
.align-right6 {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 600px
    }
.align-right7 {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 450px
    }
.biografia {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    text-align: justify;
    width: 99%;
    padding: 0;
    border: #e0e0e0 dotted thin;
    margin: 0
    }
.calibre {
    background: white;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    background: white;
    display: block;
    width: 99%;
    padding: 0;
    margin: 0
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    padding: 0;
    margin: 5px 0 0
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre8 {
    background: white;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre9 {
    background: white;
    display: block;
    width: 99%;
    padding: 0;
    border: rgb(128, 192, 192) solid 1px;
    margin: 0
    }
.calibre10 {
    display: block;
    text-align: justify;
    padding: 0;
    margin: 5px 0 0
    }
.calibre11 {
    font-size: 0.83333em
    }
.calibre12 {
    display: block;
    text-align: RIGHT;
    padding: 0;
    margin: 5px 0 0
    }
.calibre13 {
    text-decoration: underline
    }
.calibre14 {
    font-size: 0.83333em;
    line-height: normal;
    vertical-align: super
    }
.calibre15 {
    display: block
    }
.calibre16 {
    background: white;
    background-color: #d0d8df;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre17 {
    color: #4060C0;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre18 {
    color: #000060;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin: 0.83em 0
    }
.calibre19 {
    display: block;
    line-height: 1.2
    }
.calibre20 {
    display: block;
    line-height: 1.2;
    text-align: center
    }
.calibre21 {
    line-height: 1.2
    }
.calibre22 {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 5px 0 0
    }
.calibre23 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre24 {
    height: auto;
    width: auto
    }
.calibre25 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.67em 0
    }
.calibre26 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.83em 0
    }
.calibre27 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 3em;
    padding: 2px;
    margin: 0
    }
.calibre28 {
    font-size: 0.625em;
    font-style: normal;
    line-height: 1.2;
    text-decoration: none;
    vertical-align: super
    }
.calibre29 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre30 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre31 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre32 {
    text-decoration: none
    }
.calibre33 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre34 {
    display: table-row;
    vertical-align: middle
    }
.calibre35 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre36 {
    height: 200px;
    width: 400px
    }
.calibre37 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre38 {
    height: 193px;
    vertical-align: middle;
    width: 482px
    }
.calibre39 {
    display: block;
    text-align: center
    }
.calibre40 {
    height: 39px;
    width: 52px
    }
.calibre41 {
    height: 304px;
    width: 425px
    }
.calibre42 {
    font-family: verdana;
    font-size: 0.83333em
    }
.calibre43 {
    font-family: Verdana;
    font-size: 0.83333em
    }
.calibre44 {
    height: 13px;
    width: 20px
    }
.calibre45 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    float: right;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre46 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre47 {
    display: table-row;
    vertical-align: inherit
    }
.calibre48 {
    display: table-cell;
    text-align: middle;
    vertical-align: inherit;
    padding: 1px
    }
.calibre49 {
    display: table-cell;
    text-align: center;
    vertical-align: inherit;
    padding: 1px
    }
.calibre50 {
    height: 210px;
    width: 150px
    }
.calibre51 {
    font-family: Verdana, Helvetica, Microsoft Sans Serif, Tahoma;
    font-size: 0.625em
    }
.calibre52 {
    font-family: Times New Roman;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre53 {
    display: block;
    text-align: justify;
    text-indent: 3%;
    padding: 0;
    margin: 5px 0 0
    }
.calibre54 {
    display: block;
    text-align: right;
    padding: 0;
    margin: 5px 0 0
    }
.calibre55 {
    font-style: italic;
    line-height: 1.2
    }
.calibre56 {
    font-size: 0.9em
    }
.calibre57 {
    float: right;
    height: 291px;
    width: 200px
    }
.calibre58 {
    height: 230px;
    width: 320px
    }
.calibre59 {
    font-family: Verdana;
    font-size: 0.83333em
    }
.calibre60 {
    float: right;
    height: 100px;
    width: 70px
    }
.calibre61 {
    display: block;
    margin: 1em 0
    }
.caption {
    display: block;
    font-size: 0.83333em;
    font-style: italic;
    font-weight: bold;
    padding: 0;
    margin: 5px 0 0
    }
.caption1 {
    display: block;
    font-size: 0.83333em;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    text-indent: 0;
    padding: 2px;
    margin: 0
    }
.caratula {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.centrado {
    display: block;
    font-size: 1em;
    text-align: center;
    text-indent: 0;
    padding: 2px;
    margin: 0
    }
.chiquito {
    float: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
    height: 80px;
    line-height: 150%;
    text-align: right;
    width: 200px
    }
.chiquito1 {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-style: italic;
    font-weight: normal;
    line-height: 150%;
    text-align: right;
    padding: 0;
    margin: 5px 0 0
    }
.colofon {
    background: white;
    display: block;
    text-align: right;
    text-indent: 0;
    width: 99%;
    padding: 0;
    margin: 0
    }
.contacto {
    background: white;
    background-color: #d0d8df;
    display: block;
    float: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    padding: 0;
    border-bottom: currentColor solid 1px;
    margin: 0
    }
.correo {
    background: white;
    background-color: #c0c8d0;
    display: block;
    float: center;
    line-height: 1.2;
    width: 99%;
    padding: 0;
    margin: 0
    }
.dedicatoria {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    text-indent: 0;
    padding: 2px;
    margin: 0
    }
.document {
    background: white;
    display: block;
    line-height: 1.2;
    width: 99%;
    padding: 0;
    margin: 0
    }
.epigraph {
    display: block;
    padding: 0;
    margin: 5px 2em 0
    }
.epigraph1 {
    display: block;
    margin: 2em 5em
    }
.fichu {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    text-align: justify;
    padding: 0;
    margin: 5px 0 0
    }
.fichu1 {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    text-align: right;
    padding: 0;
    margin: 5px 0 0
    }
.figure {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 160px
    }
.figure1 {
    clear: left;
    display: block;
    float: left;
    margin-left: 2em;
    margin-right: 1em;
    text-align: left;
    width: 200px
    }
.final {
    background: white;
    background-color: #d0d8df;
    color: #c00000;
    display: block;
    float: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.83333em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    padding: 0;
    margin: 0
    }
.firma {
    display: block;
    font-weight: normal;
    line-height: 1.2;
    text-align: right;
    padding: 0;
    margin: 5px 0 0
    }
.first {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0
    }
.indent {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 200%;
    text-align: justify;
    padding: 0;
    margin: 5px 0 0 100px
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 0.67em auto
    }
.lector {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 200%;
    text-align: justify;
    text-indent: 30pt;
    padding: 0;
    margin: 5px 0 0
    }
.mensaje {
    background: white;
    background-color: #d0d8df;
    display: block;
    float: center;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    padding: 0;
    margin: 0
    }
.negritocenter {
    background-color: #906;
    color: #FF9;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    text-align: center;
    padding: 0;
    margin: 5px 0 0
    }
.pri {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 3em 0 0
    }
.respuesta {
    background: white;
    background-color: #d0d8df;
    color: #000080;
    display: block;
    float: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    padding: 0;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    margin: 0
    }
.texto {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 200%;
    text-align: justify;
    text-indent: 30pt;
    padding: 0;
    margin: 5px 0 0
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.pcalibre:first-letter {
    font-size: 120%;
    font-style: italic;
    font-weight: bold
    }
