.arabic {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.attribution {
    display: block;
    text-align: right;
    padding: 0;
    margin: 5px 0 0 50%
    }
.biografia {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    text-align: justify;
    width: 99%;
    padding: 0;
    margin: 0;
    border: #e0e0e0 dotted thin
    }
.calibre {
    background: white;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    background: white;
    display: block;
    width: 99%;
    padding: 0;
    margin: 0
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    padding: 0;
    margin: 5px 0 0
    }
.calibre6 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre7 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre8 {
    background: white;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre9 {
    background: white;
    display: block;
    width: 99%;
    padding: 0;
    margin: 0;
    border: rgb(128, 192, 192) solid 1px
    }
.calibre10 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.67em 0
    }
.calibre11 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.83em 0
    }
.calibre12 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 3em;
    padding: 2px;
    margin: 0
    }
.calibre13 {
    font-style: italic
    }
.calibre14 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre15 {
    display: table-column-group
    }
.calibre16 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre17 {
    display: table-row;
    vertical-align: inherit
    }
.calibre18 {
    display: block;
    padding: 0.5em;
    margin: 0.5em
    }
.calibre19 {
    font-style: italic;
    line-height: 1.2
    }
.calibre20 {
    height: auto;
    width: auto
    }
.calibre21 {
    display: block;
    margin: 1em 0
    }
.calibre22 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.caratula {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.colofon {
    background: white;
    display: block;
    text-align: right;
    text-indent: 0;
    width: 99%;
    padding: 0;
    margin: 0
    }
.docutils {
    color: gray;
    display: block;
    height: 2px;
    width: 75%;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.docutils1 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0.5em;
    margin-left: 1px;
    margin-top: 0.5em;
    text-indent: 0;
    border-left: black solid 1px
    }
.epigraph {
    display: block;
    font-style: italic;
    text-indent: 0;
    margin: 2em 0 2em 3em
    }
.epigraph1 {
    display: block;
    margin: 2em 5em
    }
.firma {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: right
    }
.first {
    display: block;
    padding: 0;
    margin: 0
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 0.67em auto
    }
.label {
    display: table-column
    }
.label1 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 1px 0.5em
    }
.line {
    display: block
    }
.line-block {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em
    }
.pri {
    display: block;
    text-indent: 0;
    padding: 0;
    margin: 2em 0 0
    }
.pri1 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 3em 0 0
    }
.resumen {
    background: #7FFFD4;
    display: block;
    font-size: 0.83333em;
    margin: 0 0 0 2em;
    border: currentColor solid 2px
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.pcalibre1:first-letter {
    font-size: 120%;
    font-style: italic;
    font-weight: bold
    }
.pcalibre:first-letter {
    font-size: 120%;
    font-weight: bold
    }
