.align-center {
    clear: both;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto
    }
.arabic {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.biografia {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    text-align: justify;
    width: 99%;
    padding: 0;
    border: #e0e0e0 dotted thin;
    margin: 0
    }
.calibre {
    background: white;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    background: white;
    display: block;
    width: 99%;
    padding: 0;
    margin: 0
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    padding: 0;
    margin: 5px 0 0
    }
.calibre6 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre7 {
    background: white;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre8 {
    background: white;
    display: block;
    width: 99%;
    padding: 0;
    border: rgb(128, 192, 192) solid 1px;
    margin: 0
    }
.calibre9 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre10 {
    display: block;
    font-size: 1.29032em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre11 {
    float: right;
    height: 74px;
    width: 60px
    }
.calibre12 {
    display: block
    }
.calibre13 {
    font-size: 0.83333em
    }
.calibre14 {
    display: block;
    text-align: RIGHT;
    padding: 0;
    margin: 5px 0 0
    }
.calibre15 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre16 {
    float: right;
    height: 188px;
    width: 250px
    }
.calibre17 {
    display: block;
    text-align: center
    }
.calibre18 {
    height: 300px;
    width: 400px
    }
.calibre19 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    float: right;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre20 {
    display: table-row;
    vertical-align: middle
    }
.calibre21 {
    display: table-cell;
    text-align: center;
    vertical-align: inherit;
    padding: 1px
    }
.calibre22 {
    height: 318px;
    width: 275px
    }
.calibre23 {
    font-family: Verdana;
    font-size: 0.83333em
    }
.calibre24 {
    font-style: italic
    }
.calibre25 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre26 {
    height: 100px;
    width: 100px
    }
.calibre27 {
    font-family: Verdana;
    font-size: 0.625em
    }
.calibre28 {
    background: white;
    background-color: #d0d8df;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre29 {
    color: #4060C0;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre30 {
    color: #000060;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin: 0.83em 0
    }
.calibre31 {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 5px 0 0
    }
.calibre32 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.2;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre33 {
    font-family: Courier New;
    font-size: 1em;
    line-height: 1.2
    }
.calibre34 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre35 {
    display: block;
    line-height: 1.2;
    text-align: justify
    }
.calibre36 {
    color: #000080;
    font-family: Verdana;
    font-size: 1em;
    line-height: 1.2
    }
.calibre37 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    padding: 0;
    margin: 5px 0 0
    }
.calibre38 {
    display: block;
    line-height: 1.2
    }
.calibre39 {
    display: block;
    line-height: 1.2;
    text-align: right;
    padding: 0;
    margin: 5px 0 0
    }
.calibre40 {
    display: block;
    line-height: 1.2;
    text-align: center
    }
.calibre41 {
    line-height: 1.2
    }
.calibre42 {
    color: #C00000;
    font-size: 0.83333em;
    line-height: 1.2
    }
.calibre43 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.67em 0
    }
.calibre44 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.83em 0
    }
.calibre45 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 3em;
    padding: 2px;
    margin: 0
    }
.calibre46 {
    height: auto;
    width: auto
    }
.calibre47 {
    display: block;
    font-size: 1em;
    text-align: CENTER;
    text-indent: 3em;
    padding: 2px;
    margin: 0
    }
.calibre48 {
    display: block;
    font-weight: bold;
    margin: 1.33em 0
    }
.calibre49 {
    display: block;
    font-size: 1em;
    text-align: right;
    text-indent: 3em;
    padding: 2px;
    margin: 0
    }
.calibre50 {
    font-family: Times New Roman;
    font-size: 0.83333em
    }
.calibre51 {
    display: block;
    text-align: justify;
    padding: 0;
    margin: 5px 0 0
    }
.calibre52 {
    float: right;
    height: 150px;
    width: 104px
    }
.calibre53 {
    float: left;
    height: 150px;
    width: 82px
    }
.calibre54 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 5px 0 0
    }
.calibre55 {
    height: 18px;
    width: 120px
    }
.calibre56 {
    float: left;
    height: 100px;
    width: 111px
    }
.calibre57 {
    float: right;
    height: 129px;
    width: 150px
    }
.calibre58 {
    display: block;
    margin: 1em
    }
.calibre59 {
    font-size: 1em
    }
.calibre60 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre61 {
    display: block;
    margin: 1em 0
    }
.caption {
    display: block;
    font-style: italic;
    padding: 0;
    margin: 5px 0 0
    }
.caratula {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.colofon {
    background: white;
    display: block;
    text-align: right;
    text-indent: 0;
    width: 99%;
    padding: 0;
    margin: 0
    }
.correo {
    background: white;
    background-color: #c0c8d0;
    display: block;
    float: center;
    line-height: 1.2;
    width: 99%;
    padding: 0;
    margin: 0
    }
.document {
    background: white;
    display: block;
    line-height: 1.2;
    width: 99%;
    padding: 0;
    margin: 0
    }
.docutils {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-indent: 0
    }
.field {
    display: table-row;
    vertical-align: inherit
    }
.field-body {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 1px 0.5em
    }
.field-name {
    display: table-column
    }
.field-name1 {
    display: table-cell;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    padding: 1px 0.5em 1px 0
    }
.figure {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 270px
    }
.figure1 {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 250px
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 0.67em auto
    }
.line-block {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em
    }
.line-block1 {
    display: block;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-top: 0
    }
.pri {
    display: block;
    text-indent: 0;
    padding: 0;
    margin: 2em 0 0
    }
.pri1 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 3em 0 0
    }
.pri2 {
    clear: right;
    float: right;
    height: auto;
    margin-left: 1em;
    text-align: right;
    width: auto
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.pcalibre1:first-letter {
    font-size: 120%;
    font-style: italic;
    font-weight: bold
    }
.pcalibre:first-letter {
    font-size: 120%;
    font-weight: bold
    }
