.align-left {
    clear: left;
    float: left;
    height: auto;
    margin-right: 1em;
    text-align: left;
    width: auto
    }
.align-right {
    clear: right;
    float: right;
    height: auto;
    margin-left: 1em;
    text-align: right;
    width: auto
    }
.align-right1 {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit
    }
.attribution {
    display: block;
    text-align: right;
    padding: 0;
    margin: 5px 0 0 50%
    }
.calibre {
    background: white;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    background: white;
    display: block;
    width: 99%;
    padding: 0;
    margin: 0
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    font-size: 0.83333em;
    line-height: normal;
    vertical-align: super
    }
.calibre6 {
    display: block;
    padding: 0;
    margin: 5px 0 0
    }
.calibre7 {
    font-style: italic
    }
.calibre8 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre9 {
    background: white;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre10 {
    background: white;
    display: block;
    width: 99%;
    border: rgb(128, 192, 192) solid 1px;
    padding: 0;
    margin: 0
    }
.calibre11 {
    font-size: 0.91667em;
    line-height: normal;
    vertical-align: super
    }
.calibre12 {
    height: auto;
    width: auto
    }
.calibre13 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.67em 0
    }
.calibre14 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.83em 0
    }
.calibre15 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 3em;
    padding: 2px;
    margin: 0
    }
.calibre16 {
    display: block;
    margin: 1em 1em 1em 4em
    }
.calibre17 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre18 {
    font-style: italic;
    line-height: 1.2
    }
.calibre19 {
    display: block;
    padding: 0.5em;
    margin: 0.5em
    }
.calibre20 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre21 {
    display: table-column-group
    }
.calibre22 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre23 {
    display: table-row;
    vertical-align: inherit
    }
.calibre24 {
    background: white;
    background-color: #d0d8df;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre25 {
    color: #4060C0;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre26 {
    color: #000060;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin: 0.83em 0
    }
.calibre27 {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 5px 0 0
    }
.calibre28 {
    display: list-item;
    line-height: 1.2
    }
.calibre29 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre30 {
    display: block;
    margin: 1em 0
    }
.caption {
    display: block;
    font-size: 0.83333em;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    text-indent: 0;
    padding: 2px;
    margin: 0
    }
.caratula {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.colofon {
    background: white;
    display: block;
    text-align: right;
    text-indent: 0;
    width: 99%;
    padding: 0;
    margin: 0
    }
.correo {
    background: white;
    background-color: #c0c8d0;
    display: block;
    float: center;
    line-height: 1.2;
    width: 99%;
    padding: 0;
    margin: 0
    }
.derecha {
    display: block;
    text-align: right;
    text-indent: 0;
    padding: 0;
    margin: 5px 0 0
    }
.document {
    background: white;
    display: block;
    line-height: 1.2;
    width: 99%;
    padding: 0;
    margin: 0
    }
.docutils {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0.5em;
    margin-left: 1px;
    margin-top: 0.5em;
    text-indent: 0;
    border-left: black solid 1px
    }
.epigraph {
    display: block;
    font-style: italic;
    text-indent: 0;
    margin: 2em 0 2em 3em
    }
.epigraph1 {
    display: block;
    margin: 2em 5em
    }
.first {
    display: block;
    padding: 0;
    margin: 0
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 0.67em auto
    }
.label {
    display: table-column
    }
.label1 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 1px 0.5em
    }
.line {
    display: block
    }
.line-block {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em
    }
.line-block1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-top: 1em
    }
.line1 {
    display: block;
    line-height: 1.2
    }
.mensaje {
    background: white;
    background-color: #d0d8df;
    display: block;
    float: center;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    padding: 0;
    margin: 0
    }
.pri {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 3em 0 0
    }
.pri1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-top: 1em
    }
.pri2 {
    display: block;
    text-indent: 0;
    padding: 0;
    margin: 2em 0 0
    }
.respuesta {
    background: white;
    background-color: #d0d8df;
    color: #000080;
    display: block;
    float: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    padding: 0;
    margin: 0
    }
.resumen {
    background: #7FFFD4;
    display: block;
    font-size: 0.83333em;
    border: currentColor solid 2px;
    padding: 0;
    margin: 0 0 0 2em
    }
.resumen1 {
    background: #7FFFD4;
    display: block;
    font-size: 0.83333em;
    border: currentColor solid 2px;
    margin: 0 0 0 2em
    }
.simple {
    display: block;
    line-height: 1.2;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.pcalibre1:first-letter {
    font-size: 120%;
    font-weight: bold
    }
.pcalibre:first-letter {
    font-size: 120%;
    font-style: italic;
    font-weight: bold
    }
