.calibre {
    background: inherited;
    color: inherited;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre1 {
    background: inherited;
    color: inherited;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre10 {
    display: block
    }
.calibre11 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right
    }
.calibre12 {
    font-size: 0.83333em
    }
.calibre13 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center;
    text-indent: 0
    }
.calibre14 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center;
    text-indent: 0
    }
.calibre15 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: right;
    text-indent: 3em
    }
.calibre16 {
    font-style: italic
    }
.calibre17 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: justify;
    text-indent: 3em
    }
.calibre18 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre19 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre20 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre21 {
    float: left;
    height: auto;
    width: auto
    }
.calibre22 {
    float: right;
    height: auto;
    width: auto
    }
.calibre23 {
    font-family: Symbol;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre24 {
    color: #000080;
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre25 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre26 {
    height: auto;
    width: auto
    }
.calibre27 {
    background: inherited;
    background-color: #d0d8df;
    color: inherited;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre28 {
    color: #4060C0;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.calibre29 {
    color: #000060;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center
    }
.calibre3 {
    display: list-item
    }
.calibre30 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre31 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre32 {
    font-family: Courier New;
    font-size: 1em;
    line-height: 1.2
    }
.calibre33 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre34 {
    color: #000080;
    font-family: Bookman Old Style;
    font-size: 1em;
    line-height: 1.2
    }
.calibre35 {
    line-height: 1.2
    }
.calibre36 {
    font-style: italic;
    line-height: 1.2
    }
.calibre37 {
    font-size: 0.83333em;
    line-height: 1.2
    }
.calibre38 {
    display: block;
    line-height: 1.2
    }
.calibre39 {
    color: #C00000;
    font-size: 0.83333em;
    line-height: 1.2
    }
.calibre4 {
    font-weight: bold
    }
.calibre40 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right
    }
.calibre41 {
    font-family: Times, Times New Roman;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre42 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: center;
    text-indent: 3em
    }
.calibre43 {
    text-decoration: none
    }
.calibre44 {
    font-family: Arial
    }
.calibre45 {
    height: 12px;
    width: 15px
    }
.calibre46 {
    font-family: Arial;
    font-size: 0.83333em
    }
.calibre47 {
    color: #008080;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre48 {
    font-size: 1.54839em;
    line-height: 1.2
    }
.calibre49 {
    display: block;
    margin-left: 2em
    }
.calibre5 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre50 {
    color: #000080;
    font-family: Bookman Old Style
    }
.calibre51 {
    font-size: 0.625em
    }
.calibre52 {
    font-size: 0.64516em
    }
.calibre53 {
    color: #FFE0D0;
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre54 {
    color: #F0C0B0;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre55 {
    color: #0FF;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre56 {
    font-family: Courier New;
    font-size: 0.83333em
    }
.calibre57 {
    font-family: Bard, Courier New;
    font-size: 2em;
    line-height: 1.2
    }
.calibre58 {
    font-family: Bard, Courier New;
    font-size: 0.625em
    }
.calibre59 {
    font-family: Arial;
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre6 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre60 {
    color: #BF0000;
    font-size: 1.41935em;
    line-height: 1.2
    }
.calibre61 {
    text-decoration: underline
    }
.calibre7 {
    background: inherited;
    border: 1px solid rgb(128, 192, 192);
    color: inherited;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre8 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre9 {
    font-size: 1.41935em;
    line-height: 1.2
    }
.caratula {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    width: 100%
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.colofon {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0;
    width: 99%
    }
.correo {
    background-color: #c0c8d0;
    display: block;
    float: center;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.document {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.document1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
