.calibre {
    background: inherited;
    color: inherited;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre1 {
    background: inherited;
    color: inherited;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre10 {
    font-style: italic
    }
.calibre11 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right
    }
.calibre12 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center;
    text-indent: 0
    }
.calibre13 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center;
    text-indent: 0
    }
.calibre14 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: justify;
    text-indent: 3em
    }
.calibre15 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: justify;
    text-indent: 3%
    }
.calibre16 {
    font-family: Symbol
    }
.calibre17 {
    text-decoration: underline
    }
.calibre18 {
    color: #F00
    }
.calibre19 {
    float: left;
    height: auto;
    width: auto
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre20 {
    display: block;
    margin-left: 2em
    }
.calibre21 {
    font-size: 0.625em
    }
.calibre22 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre23 {
    color: #00F
    }
.calibre24 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre25 {
    display: table-row;
    vertical-align: middle
    }
.calibre26 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre27 {
    font-family: Verdana;
    font-size: 0.83333em
    }
.calibre28 {
    background-color: #E0FFFF;
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre29 {
    background-color: #F0FFF0;
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre3 {
    display: list-item
    }
.calibre30 {
    display: block;
    font-weight: bold;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.33em;
    text-align: center
    }
.calibre31 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre32 {
    font-family: Arial;
    font-size: 0.83333em
    }
.calibre33 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.calibre34 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre35 {
    font-size: 0.83333em
    }
.calibre36 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre37 {
    height: auto;
    width: auto
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre6 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre7 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre8 {
    display: block
    }
.calibre9 {
    background: inherited;
    border: 1px solid rgb(128, 192, 192);
    color: inherited;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.caratula {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    width: 100%
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.colofon {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0;
    width: 99%
    }
.document {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
