.align-right {
    clear: right;
    float: right;
    height: 200px;
    margin-left: 1em;
    text-align: right;
    width: 150px
    }
.biografia {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    text-align: justify;
    width: 99%;
    border: #e0e0e0 dotted thin;
    padding: 0;
    margin: 0
    }
.cab {
    color: #000;
    display: block;
    float: right;
    line-height: 1.2;
    margin-left: 15px;
    text-align: center;
    width: 130pt;
    border: #003 dotted 2px;
    padding: 10px
    }
.calibre {
    background: white;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    background: white;
    display: block;
    width: 99%;
    padding: 0;
    margin: 0
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    padding: 0;
    margin: 5px 0 0
    }
.calibre6 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre7 {
    background: white;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre8 {
    background: white;
    display: block;
    width: 99%;
    border: rgb(128, 192, 192) solid 1px;
    padding: 0;
    margin: 0
    }
.calibre9 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre10 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre11 {
    font-style: italic
    }
.calibre12 {
    font-size: 0.83333em
    }
.calibre13 {
    display: block;
    text-align: RIGHT;
    padding: 0;
    margin: 5px 0 0
    }
.calibre14 {
    display: block
    }
.calibre15 {
    background: white;
    background-color: #d0d8df;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre16 {
    color: #4060C0;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre17 {
    color: #000060;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin: 0.83em 0
    }
.calibre18 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.2;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre19 {
    display: block;
    line-height: 1.2
    }
.calibre20 {
    line-height: 1.2
    }
.calibre21 {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 5px 0 0
    }
.calibre22 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.67em 0
    }
.calibre23 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.83em 0
    }
.calibre24 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 3em;
    padding: 2px;
    margin: 0
    }
.calibre25 {
    font-size: 0.625em;
    font-style: normal;
    line-height: 1.2;
    text-decoration: none;
    vertical-align: super
    }
.calibre26 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre27 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre28 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre29 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    float: right;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre30 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre31 {
    display: table-row;
    vertical-align: inherit
    }
.calibre32 {
    display: table-cell;
    text-align: middle;
    vertical-align: inherit;
    padding: 1px
    }
.calibre33 {
    display: table-cell;
    text-align: center;
    vertical-align: inherit;
    padding: 1px
    }
.calibre34 {
    text-decoration: none
    }
.calibre35 {
    height: 233px;
    width: 150px
    }
.calibre36 {
    font-family: Verdana, Helvetica, Microsoft Sans Serif, Tahoma;
    font-size: 0.625em
    }
.calibre37 {
    height: 167px;
    width: 200px
    }
.calibre38 {
    height: 133px;
    width: 200px
    }
.calibre39 {
    height: 226px;
    width: 150px
    }
.calibre40 {
    height: 194px;
    width: 150px
    }
.calibre41 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre42 {
    float: right;
    height: 265px;
    width: 200px;
    border: #666 solid 1px
    }
.calibre43 {
    display: block;
    text-indent: 3%;
    padding: 0;
    margin: 5px 0 0
    }
.calibre44 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre45 {
    display: table-row;
    line-height: 1.2;
    vertical-align: middle
    }
.calibre46 {
    display: table-cell;
    line-height: 1.2;
    text-align: center;
    vertical-align: inherit;
    padding: 1px
    }
.calibre47 {
    color: #666;
    display: block;
    font-family: "Times New Roman", "Times Roman", serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 0;
    margin: 0.67em 0 0
    }
.calibre48 {
    color: #DEAD00;
    font-style: italic;
    line-height: 1.2
    }
.calibre49 {
    float: left;
    height: 100px;
    line-height: 1.2;
    width: 79px
    }
.calibre50 {
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre51 {
    color: #000;
    display: block;
    height: 2px;
    line-height: 1.2;
    border: currentColor inset 1px;
    padding: 0;
    margin: 0.5em 5pt
    }
.calibre52 {
    color: #800000;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre53 {
    height: auto;
    width: 100px
    }
.calibre54 {
    display: block;
    text-align: right;
    padding: 0;
    margin: 5px 0 0
    }
.calibre55 {
    display: block;
    text-align: center
    }
.calibre56 {
    display: table-row;
    vertical-align: middle
    }
.calibre57 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre58 {
    color: darkblue;
    font-family: Verdana
    }
.calibre59 {
    font-family: Verdana;
    font-size: 0.83333em
    }
.calibre60 {
    height: 13px;
    width: 20px
    }
.calibre61 {
    height: auto;
    width: auto
    }
.calibre62 {
    display: block;
    margin: 1em 0
    }
.calibre63 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.caratula {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.colofon {
    background: white;
    display: block;
    text-align: right;
    text-indent: 0;
    width: 99%;
    padding: 0;
    margin: 0
    }
.cont_pie {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.correo {
    background: white;
    background-color: #c0c8d0;
    display: block;
    float: center;
    line-height: 1.2;
    width: 99%;
    padding: 0;
    margin: 0
    }
.dedicatoria {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    text-indent: 0;
    padding: 2px;
    margin: 0
    }
.document {
    background: white;
    display: block;
    line-height: 1.2;
    width: 99%;
    padding: 0;
    margin: 0
    }
.final {
    background: white;
    background-color: #d0d8df;
    color: #c00000;
    display: block;
    float: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.83333em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    padding: 0;
    margin: 0
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 0.67em auto
    }
.mensaje {
    background: white;
    background-color: #d0d8df;
    display: block;
    float: center;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    padding: 0;
    margin: 0
    }
.pri {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 3em 0 0
    }
.respuesta {
    background: white;
    background-color: #d0d8df;
    color: #000080;
    display: block;
    float: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    padding: 0;
    margin: 0
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.pcalibre:first-letter {
    font-size: 120%;
    font-style: italic;
    font-weight: bold
    }
