.align-right {
    clear: right;
    float: right;
    height: auto;
    margin-left: 1em;
    text-align: right;
    width: auto
    }
.calibre {
    background: inherited;
    color: inherited;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre1 {
    background: inherited;
    color: inherited;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre10 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center;
    text-indent: 0
    }
.calibre11 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center;
    text-indent: 0
    }
.calibre12 {
    height: auto;
    width: auto
    }
.calibre13 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: justify;
    text-indent: 3em
    }
.calibre14 {
    display: block;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre15 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre16 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre17 {
    display: block;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em
    }
.calibre18 {
    background: inherited;
    background-color: #d0d8df;
    color: inherited;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre19 {
    color: #4060C0;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre20 {
    color: #000060;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center
    }
.calibre21 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre22 {
    display: block;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre23 {
    font-style: italic;
    line-height: 1.2
    }
.calibre24 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre25 {
    text-decoration: underline
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre6 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre7 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre8 {
    background: inherited;
    border: 1px solid rgb(128, 192, 192);
    color: inherited;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.calibre9 {
    font-style: italic
    }
.caratula {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    width: 100%
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.colofon {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0;
    width: 99%
    }
.contents {
    display: block;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em
    }
.correo {
    background-color: #c0c8d0;
    display: block;
    float: center;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.document {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.document1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 99%
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.line {
    display: block;
    line-height: 1.2
    }
.line-block {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em
    }
.line-block1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-top: 1em
    }
.literal-block {
    display: block;
    font-family: monospace;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    white-space: pre-wrap
    }
.mensaje {
    background-color: #d0d8df;
    display: block;
    float: center;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 99%
    }
.pri {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.pri1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.respuesta {
    background-color: #d0d8df;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: #000080;
    display: block;
    float: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 99%
    }
.resumen {
    background: #7FFFD4;
    border: 2px solid;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: justify;
    text-indent: 3em
    }
.resumen1 {
    background: #7FFFD4;
    border: 2px solid;
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.resumen2 {
    background: #7FFFD4;
    border: 2px solid;
    display: block;
    margin-left: 2em
    }
.section {
    display: block
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.toc-backref {
    color: black;
    line-height: 1.2;
    text-decoration: none
    }
.pcalibre:first-letter {
    font-size: 120%;
    font-style: italic;
    font-weight: bold
    }
