.align-right {
    clear: right;
    float: right;
    height: auto;
    margin-left: 1em;
    text-align: right;
    width: auto
    }
.arabic {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.biografia {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    text-align: justify;
    width: 99%;
    border: #e0e0e0 dotted thin;
    padding: 0;
    margin: 0
    }
.biografia1 {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: justify;
    text-indent: 3em;
    width: 99%;
    border: #e0e0e0 dotted thin;
    padding: 2px;
    margin: 0
    }
.biografia2 {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    text-align: justify;
    width: 99%;
    border: #e0e0e0 dotted thin;
    padding: 0;
    margin: 1em 0
    }
.biografia3 {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
    width: 99%;
    border: #e0e0e0 dotted thin;
    padding: 0;
    margin: 0
    }
.calibre {
    background: white;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    background: white;
    display: block;
    width: 99%;
    padding: 0;
    margin: 0
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    padding: 0;
    margin: 5px 0 0
    }
.calibre6 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre7 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre8 {
    background: white;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre9 {
    background: white;
    display: block;
    width: 99%;
    border: rgb(128, 192, 192) solid 1px;
    padding: 0;
    margin: 0
    }
.calibre10 {
    font-style: italic
    }
.calibre11 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.67em 0
    }
.calibre12 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.83em 0
    }
.calibre13 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 3em;
    padding: 2px;
    margin: 0
    }
.calibre14 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre15 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre16 {
    display: block;
    margin: 1em
    }
.calibre17 {
    height: auto;
    width: auto
    }
.calibre18 {
    display: block;
    margin: 1em 0
    }
.caratula {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.colofon {
    background: white;
    display: block;
    text-align: right;
    text-indent: 0;
    width: 99%;
    padding: 0;
    margin: 0
    }
.derecha {
    display: block;
    text-align: right;
    text-indent: 0;
    padding: 0;
    margin: 5px 0 0
    }
.docutils {
    color: gray;
    display: block;
    height: 2px;
    width: 75%;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 0.67em auto
    }
.line-block {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em
    }
.mensaje {
    background: white;
    background-color: #d0d8df;
    display: block;
    float: center;
    font-size: 1em;
    text-align: justify;
    width: 99%;
    padding: 0;
    margin: 0
    }
.pri {
    display: block;
    text-indent: 0;
    padding: 0;
    margin: 2em 0 0
    }
.pri1 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 3em 0 0
    }
.section {
    display: block
    }
.title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.pcalibre1:first-letter {
    font-size: 120%;
    font-style: italic;
    font-weight: bold
    }
.pcalibre:first-letter {
    font-size: 120%;
    font-weight: bold
    }
