.align-right {
    clear: right;
    float: right;
    height: auto;
    margin-left: 1em;
    text-align: right;
    width: auto
    }
.align-right1 {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: inherit
    }
.arabic {
    display: block;
    line-height: 1.2;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.attribution {
    display: block;
    line-height: 1.2;
    text-align: right;
    margin: 5px 0 0 50%;
    padding: 0
    }
.azul {
    color: blue;
    font-weight: bold;
    line-height: 1.2
    }
.biografia {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    text-align: justify;
    width: 99%;
    margin: 0;
    border: #e0e0e0 dotted thin;
    padding: 0
    }
.calibre {
    background: white;
    display: block;
    font-size: 1em;
    width: 99%;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    background: white;
    display: block;
    width: 99%;
    margin: 0;
    padding: 0
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    margin: 5px 0 0;
    padding: 0
    }
.calibre6 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre7 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre8 {
    background: white;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    margin: 0 5pt;
    padding: 0
    }
.calibre9 {
    background: white;
    display: block;
    width: 99%;
    margin: 0;
    border: rgb(128, 192, 192) solid 1px;
    padding: 0
    }
.calibre10 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.67em 0
    }
.calibre11 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.83em 0
    }
.calibre12 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 3em;
    margin: 0;
    padding: 2px
    }
.calibre13 {
    font-style: italic
    }
.calibre14 {
    display: block;
    margin: 1em 1em 1em 4em
    }
.calibre15 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre16 {
    height: auto;
    width: auto
    }
.calibre17 {
    background: white;
    background-color: #d0d8df;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    margin: 0 5pt;
    padding: 0
    }
.calibre18 {
    color: #4060C0;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre19 {
    color: #000060;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin: 0.83em 0
    }
.calibre20 {
    display: block;
    line-height: 1.2;
    margin: 5px 0 0;
    padding: 0
    }
.calibre21 {
    display: list-item;
    line-height: 1.2
    }
.calibre22 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre23 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 40px
    }
.calibre24 {
    display: block;
    line-height: 1.2;
    margin: 1em
    }
.calibre25 {
    display: block;
    margin: 1em 0
    }
.calibre26 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.caratula {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.colofon {
    background: white;
    display: block;
    text-align: right;
    text-indent: 0;
    width: 99%;
    margin: 0;
    padding: 0
    }
.contents {
    display: block;
    margin: 2em
    }
.correo {
    background: white;
    background-color: #c0c8d0;
    display: block;
    float: center;
    line-height: 1.2;
    width: 99%;
    margin: 0;
    padding: 0
    }
.derecha {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 5px 0 0;
    padding: 0
    }
.derecha1 {
    display: block;
    font-size: 1em;
    text-align: right;
    text-indent: 0;
    margin: 0;
    padding: 2px
    }
.document {
    background: white;
    display: block;
    line-height: 1.2;
    width: 99%;
    margin: 0;
    padding: 0
    }
.docutils {
    color: gray;
    display: block;
    height: 2px;
    width: 75%;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.docutils1 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.2;
    width: 75%;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.docutils2 {
    display: block;
    line-height: 1.2;
    margin: 1em 0
    }
.epigraph {
    display: block;
    font-style: italic;
    text-indent: 0;
    margin: 2em 0 2em 3em
    }
.first {
    display: block;
    line-height: 1.2;
    margin: 0;
    padding: 0
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 0.67em auto
    }
.line {
    display: block;
    line-height: 1.2
    }
.line-block {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em
    }
.line-block1 {
    display: block;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-top: 0
    }
.line-block2 {
    display: block;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-top: 1em
    }
.line-block3 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-top: 0
    }
.literal-block {
    display: block;
    font-family: monospace;
    font-size: 0.625em;
    white-space: pre-wrap;
    margin: 1em 2em
    }
.loweralpha {
    display: block;
    line-height: 1.2;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: lower-alpha;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 0
    }
.mensaje {
    background: white;
    background-color: #d0d8df;
    display: block;
    float: center;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    margin: 0;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    padding: 0
    }
.pri {
    display: block;
    text-indent: 0;
    margin: 2em 0 0;
    padding: 0
    }
.pri1 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    margin: 3em 0 0;
    padding: 0
    }
.pri2 {
    display: block;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-top: 1em
    }
.pri3 {
    display: block;
    line-height: 1.2;
    text-indent: 0;
    margin: 2em 0 0;
    padding: 0
    }
.reference {
    text-decoration: none
    }
.reference1 {
    line-height: 1.2
    }
.respuesta {
    background: white;
    background-color: #d0d8df;
    color: #000080;
    display: block;
    float: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    margin: 0;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    padding: 0
    }
.resumen {
    background: #7FFFD4;
    display: block;
    font-size: 0.83333em;
    margin: 0 0 0 2em;
    border: currentColor solid 2px
    }
.resumen1 {
    background: #7FFFD4;
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 3em;
    margin: 0;
    border: currentColor solid 2px;
    padding: 2px
    }
.resumen2 {
    background: #7FFFD4;
    display: block;
    font-size: 0.83333em;
    margin: 0 0 0 2em;
    border: currentColor solid 2px;
    padding: 0
    }
.rojo {
    color: red;
    font-weight: bold;
    line-height: 1.2
    }
.section {
    display: block
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.toc-backref {
    color: black;
    line-height: 1.2;
    text-decoration: none
    }
.pcalibre1:first-letter {
    font-size: 120%;
    font-style: italic;
    font-weight: bold
    }
.pcalibre:first-letter {
    font-size: 120%;
    font-weight: bold
    }
