.align-center {
    clear: both;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto
    }
.biografia {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    text-align: justify;
    width: 99%;
    padding: 0;
    margin: 0;
    border: #e0e0e0 dotted thin
    }
.calibre {
    background: white;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    background: white;
    display: block;
    width: 99%;
    padding: 0;
    margin: 0
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    padding: 0;
    margin: 5px 0 0
    }
.calibre6 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre7 {
    background: white;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre8 {
    background: white;
    display: block;
    width: 99%;
    padding: 0;
    margin: 0;
    border: rgb(128, 192, 192) solid 1px
    }
.calibre9 {
    display: block
    }
.calibre10 {
    font-size: 0.83333em
    }
.calibre11 {
    height: auto;
    width: auto
    }
.calibre12 {
    display: block;
    text-align: justify;
    padding: 0;
    margin: 5px 0 0
    }
.calibre13 {
    display: block;
    text-align: RIGHT;
    padding: 0;
    margin: 5px 0 0
    }
.calibre14 {
    text-decoration: underline
    }
.calibre15 {
    font-size: 0.83333em;
    line-height: normal;
    vertical-align: super
    }
.calibre16 {
    background: white;
    background-color: #d0d8df;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    padding: 0;
    margin: 0 5pt
    }
.calibre17 {
    color: #4060C0;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre18 {
    color: #000060;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin: 0.83em 0
    }
.calibre19 {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 5px 0 0
    }
.calibre20 {
    display: block;
    line-height: 1.2
    }
.calibre21 {
    font-style: italic;
    line-height: 1.2
    }
.calibre22 {
    display: block;
    line-height: 1.2;
    text-align: center
    }
.calibre23 {
    line-height: 1.2
    }
.calibre24 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.67em 0
    }
.calibre25 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.83em 0
    }
.calibre26 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    float: right;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre27 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre28 {
    display: table-row;
    vertical-align: inherit
    }
.calibre29 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre30 {
    font-style: italic
    }
.calibre31 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 3em;
    padding: 2px;
    margin: 0
    }
.calibre32 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre33 {
    text-decoration: none
    }
.calibre34 {
    font-family: Verdana
    }
.calibre35 {
    height: 13px;
    width: 20px
    }
.calibre36 {
    font-size: 0.9em
    }
.calibre37 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre38 {
    display: table-row;
    vertical-align: middle
    }
.calibre39 {
    display: table-cell;
    text-align: center;
    vertical-align: inherit;
    padding: 1px
    }
.calibre40 {
    height: 193px;
    width: 294px
    }
.calibre41 {
    font-family: Verdana, Helvetica, Microsoft Sans Serif, Tahoma
    }
.calibre42 {
    height: 242px;
    width: 417px
    }
.calibre43 {
    height: 213px;
    width: 300px
    }
.calibre44 {
    height: 194px;
    width: 300px
    }
.calibre45 {
    height: 263px;
    width: 419px
    }
.calibre46 {
    height: 264px;
    width: 400px
    }
.calibre47 {
    height: 466px;
    width: 299px
    }
.calibre48 {
    height: 314px;
    width: 484px
    }
.calibre49 {
    height: 207px;
    width: 250px
    }
.calibre50 {
    height: 274px;
    width: 407px
    }
.calibre51 {
    height: 265px;
    width: 400px
    }
.calibre52 {
    height: 305px;
    width: 503px
    }
.calibre53 {
    height: 350px;
    width: 213px
    }
.calibre54 {
    height: 273px;
    width: 400px
    }
.calibre55 {
    height: 200px;
    width: 600px
    }
.calibre56 {
    height: 80px;
    vertical-align: top;
    width: 200px
    }
.calibre57 {
    height: 140px;
    width: 200px
    }
.calibre58 {
    height: 37px;
    width: 200px
    }
.calibre59 {
    height: 193px;
    vertical-align: middle;
    width: 482px
    }
.calibre60 {
    height: 596px;
    vertical-align: top;
    width: 400px
    }
.calibre61 {
    height: 346px;
    vertical-align: middle;
    width: 495px
    }
.calibre62 {
    height: 208px;
    width: 273px
    }
.calibre63 {
    height: 460px;
    width: 320px
    }
.calibre64 {
    height: 105px;
    width: 300px
    }
.calibre65 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre66 {
    background-color: #FFC;
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre67 {
    height: 207px;
    width: 300px
    }
.calibre68 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre69 {
    font-family: Verdana, Helvetica, Arial
    }
.calibre70 {
    display: block;
    margin: 1em 0
    }
.calibre71 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.caption {
    display: block;
    font-size: 0.83333em;
    font-style: italic;
    font-weight: bold;
    padding: 0;
    margin: 5px 0 0
    }
.caption1 {
    display: block;
    font-size: 0.83333em;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    text-indent: 0;
    padding: 2px;
    margin: 0
    }
.caratula {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.chiquito {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-style: italic;
    font-weight: normal;
    line-height: 150%;
    text-align: right;
    padding: 0;
    margin: 5px 0 0
    }
.colofon {
    background: white;
    display: block;
    text-align: right;
    text-indent: 0;
    width: 99%;
    padding: 0;
    margin: 0
    }
.contacto {
    background: white;
    background-color: #d0d8df;
    display: block;
    float: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    padding: 0;
    margin: 0;
    border-top: black solid 1px;
    border-bottom: black solid 1px
    }
.correo {
    background: white;
    background-color: #c0c8d0;
    display: block;
    float: center;
    line-height: 1.2;
    width: 99%;
    padding: 0;
    margin: 0
    }
.dedicatoria {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    text-indent: 0;
    padding: 2px;
    margin: 0
    }
.document {
    background: white;
    display: block;
    line-height: 1.2;
    width: 99%;
    padding: 0;
    margin: 0
    }
.fichu {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    text-align: justify;
    padding: 0;
    margin: 5px 0 0
    }
.figure {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 150
    }
.figure1 {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 200
    }
.final {
    background: white;
    background-color: #d0d8df;
    color: #c00000;
    display: block;
    float: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.83333em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    padding: 0;
    margin: 0;
    border-top: black solid 1px;
    border-bottom: black solid 1px
    }
.firma {
    display: block;
    font-weight: normal;
    line-height: 1.2;
    text-align: right;
    padding: 0;
    margin: 5px 0 0
    }
.indent {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 200%;
    text-align: justify;
    padding: 0;
    margin: 5px 0 0 100px
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 0.67em auto
    }
.lector {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 200%;
    text-align: justify;
    text-indent: 30pt;
    padding: 0;
    margin: 5px 0 0
    }
.line-block {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em
    }
.mensaje {
    background: white;
    background-color: #d0d8df;
    display: block;
    float: center;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    padding: 0;
    margin: 0;
    border-top: black solid 1px;
    border-bottom: black solid 1px
    }
.negritocenter {
    background-color: #906;
    color: #FF9;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    text-align: center;
    padding: 0;
    margin: 5px 0 0
    }
.normal_prim {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.normal_prim1 {
    font-size: 1.29167em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.pri {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 3em 0 0
    }
.respuesta {
    background: white;
    background-color: #d0d8df;
    color: #000080;
    display: block;
    float: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    padding: 0;
    margin: 0;
    border-top: black solid 1px;
    border-bottom: black solid 1px
    }
.texto {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 200%;
    text-align: justify;
    text-indent: 30pt;
    padding: 0;
    margin: 5px 0 0
    }
.texto1 {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 200%;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 30pt
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.traductor {
    display: block;
    font-size: 0.83333em;
    text-align: justify;
    text-indent: 0;
    padding: 2px;
    margin: 0
    }
.pcalibre:first-letter {
    font-size: 120%;
    font-style: italic;
    font-weight: bold
    }
