.biografia {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    text-align: justify;
    width: 99%;
    margin: 0;
    padding: 0;
    border: #e0e0e0 dotted thin
    }
.cab {
    color: #000;
    display: block;
    float: right;
    line-height: 1.2;
    margin-left: 15px;
    text-align: center;
    width: 130pt;
    padding: 10px;
    border: #003 dotted 2px
    }
.calibre {
    background: white;
    display: block;
    font-size: 1em;
    width: 99%;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    background: white;
    display: block;
    width: 99%;
    margin: 0;
    padding: 0
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    margin: 5px 0 0;
    padding: 0
    }
.calibre6 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre7 {
    background: white;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    margin: 0 5pt;
    padding: 0
    }
.calibre8 {
    background: white;
    display: block;
    width: 99%;
    margin: 0;
    padding: 0;
    border: rgb(128, 192, 192) solid 1px
    }
.calibre9 {
    height: auto;
    width: auto
    }
.calibre10 {
    display: block;
    text-align: justify
    }
.calibre11 {
    display: block;
    text-align: RIGHT;
    margin: 5px 0 0;
    padding: 0
    }
.calibre12 {
    display: block
    }
.calibre13 {
    background: white;
    background-color: #d0d8df;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    margin: 0 5pt;
    padding: 0
    }
.calibre14 {
    color: #4060C0;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre15 {
    color: #000060;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin: 0.83em 0
    }
.calibre16 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.2;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre17 {
    display: block;
    line-height: 1.2;
    margin: 5px 0 0;
    padding: 0
    }
.calibre18 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.67em 0
    }
.calibre19 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.83em 0
    }
.calibre20 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 3em;
    margin: 0;
    padding: 2px
    }
.calibre21 {
    font-style: italic
    }
.calibre22 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre23 {
    font-size: 1em
    }
.calibre24 {
    height: 592px;
    width: 400px
    }
.calibre25 {
    height: 352px;
    width: 225px
    }
.calibre26 {
    height: 360px;
    width: 216px
    }
.calibre27 {
    height: 299px;
    width: 400px
    }
.calibre28 {
    height: 464px;
    width: 432px
    }
.calibre29 {
    height: 442px;
    width: 589px
    }
.calibre30 {
    height: 391px;
    width: 589px
    }
.calibre31 {
    height: 262px;
    width: 179px
    }
.calibre32 {
    font-weight: normal
    }
.calibre33 {
    height: 383px;
    width: 400px
    }
.calibre34 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 0
    }
.calibre35 {
    height: 498px;
    width: 589px
    }
.calibre36 {
    height: 231px;
    width: 350px
    }
.calibre37 {
    height: 341px;
    width: 498px
    }
.calibre38 {
    height: 241px;
    width: 588px
    }
.calibre39 {
    height: 500px;
    width: 589px
    }
.calibre40 {
    height: 599px;
    width: 487px
    }
.calibre41 {
    height: 394px;
    width: 589px
    }
.calibre42 {
    font-style: normal
    }
.calibre43 {
    height: 469px;
    width: 320px
    }
.calibre44 {
    height: 474px;
    width: 348px
    }
.calibre45 {
    height: 400px;
    width: 533px
    }
.calibre46 {
    height: 279px;
    width: 418px
    }
.calibre47 {
    font-family: "Microsoft Sans Serif";
    font-size: 1em
    }
.calibre48 {
    height: 270px;
    width: 412px
    }
.calibre49 {
    height: 192px;
    width: 413px
    }
.calibre50 {
    height: 484px;
    width: 589px
    }
.calibre51 {
    height: 298px;
    width: 437px
    }
.calibre52 {
    height: 192px;
    width: 640px;
    margin: 5;
    padding: 0;
    border: #000 solid 1px
    }
.calibre53 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre54 {
    display: table-row;
    line-height: 1.2;
    vertical-align: middle
    }
.calibre55 {
    display: table-cell;
    line-height: 1.2;
    text-align: center;
    vertical-align: inherit;
    padding: 1px
    }
.calibre56 {
    color: #666;
    display: block;
    font-family: "Times New Roman", "Times Roman", serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 0;
    margin: 0.67em 0 0
    }
.calibre57 {
    color: #DEAD00;
    font-style: italic;
    line-height: 1.2
    }
.calibre58 {
    float: left;
    height: 100px;
    line-height: 1.2;
    width: 79px
    }
.calibre59 {
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre60 {
    color: #000;
    display: block;
    height: 2px;
    line-height: 1.2;
    margin: 0.5em 5pt;
    padding: 0;
    border: currentColor inset 1px
    }
.calibre61 {
    color: #800000;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre62 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre63 {
    display: block;
    line-height: 1.2
    }
.calibre64 {
    height: auto;
    width: 100px
    }
.calibre65 {
    font-size: 0.83333em;
    line-height: normal;
    vertical-align: super
    }
.calibre66 {
    display: block;
    text-align: right;
    margin: 5px 0 0;
    padding: 0
    }
.calibre67 {
    display: block;
    text-align: center
    }
.calibre68 {
    display: table-row;
    vertical-align: middle
    }
.calibre69 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre70 {
    display: block;
    margin: 1em 0
    }
.calibre71 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.caption {
    display: block;
    font-size: 0.83333em;
    font-style: italic;
    font-weight: bold;
    margin: 5px 0 0;
    padding: 0
    }
.caption1 {
    display: block;
    font-size: 0.83333em;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 2px
    }
.caratula {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.colofon {
    background: white;
    display: block;
    text-align: right;
    text-indent: 0;
    width: 99%;
    margin: 0;
    padding: 0
    }
.cont_pie {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.correo {
    background: white;
    background-color: #c0c8d0;
    display: block;
    float: center;
    line-height: 1.2;
    width: 99%;
    margin: 0;
    padding: 0
    }
.dedicatoria {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    text-indent: 0;
    margin: 0;
    padding: 2px
    }
.document {
    background: white;
    display: block;
    line-height: 1.2;
    width: 99%;
    margin: 0;
    padding: 0
    }
.figure {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 150
    }
.figure1 {
    clear: right;
    display: block;
    float: right;
    margin-left: 1em;
    margin-right: 2em;
    text-align: inherit;
    width: 200
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 0.67em auto
    }
.mensaje {
    background: white;
    background-color: #d0d8df;
    display: block;
    float: center;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    margin: 0;
    padding: 0;
    border-top: black solid 1px;
    border-bottom: black solid 1px
    }
.msonormal {
    display: block;
    text-align: justify;
    margin: 5px 0 0;
    padding: 0
    }
.msonormal1 {
    display: block;
    text-align: center;
    margin: 5px 0 0;
    padding: 0
    }
.msonormal2 {
    display: list-item;
    tab-stops: list 36pt;
    text-align: justify
    }
.pri {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    margin: 3em 0 0;
    padding: 0
    }
.respuesta {
    background: white;
    background-color: #d0d8df;
    color: #000080;
    display: block;
    float: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    width: 99%;
    margin: 0;
    padding: 0;
    border-top: black solid 1px;
    border-bottom: black solid 1px
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.vinculo {
    color: #333;
    display: block;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 3em;
    margin: 0;
    padding: 2px
    }
.pcalibre:first-letter {
    font-size: 120%;
    font-style: italic;
    font-weight: bold
    }
