.aligncenter {
    height: 259px;
    width: 400px
    }
.aligncenter1 {
    height: 300px;
    width: 400px
    }
.aligncenter2 {
    height: 318px;
    width: 255px
    }
.aligncenter3 {
    height: 176px;
    width: 375px
    }
.aligncenter4 {
    height: 243px;
    width: 324px
    }
.aligncenter5 {
    height: 280px;
    width: 400px
    }
.aligncenter6 {
    height: 402px;
    width: 300px
    }
.aligncenter7 {
    height: 268px;
    width: 250px
    }
.aligncenter8 {
    height: auto;
    width: 106px
    }
.alignleft {
    height: 10px;
    line-height: 1.2;
    width: 30px
    }
.alignleft1 {
    height: 10px;
    width: 30px
    }
.alignright {
    float: right;
    height: 200px;
    width: 150px
    }
.alignright1 {
    float: right;
    height: auto;
    width: auto;
    border: #666 solid 1px
    }
.articulo {
    display: block;
    font-family: Verdana, Arial, Sans Serif;
    line-height: 130%;
    text-align: justify
    }
.autor {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 3em;
    margin: 0;
    padding: 2px
    }
.autor1 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 5px 0 0;
    padding: 0
    }
.biografia {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    text-align: justify;
    width: 99%;
    margin: 0;
    border: #e0e0e0 dotted thin;
    padding: 0
    }
.biografia1 {
    background: white;
    background-color: white;
    color: #a00000;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
    width: 99%;
    margin: 0;
    border: #e0e0e0 dotted thin;
    padding: 0
    }
.bl {
    color: #fff;
    display: block;
    font-size: 0.625em;
    line-height: 1.2;
    margin: 5px 0 0;
    padding: 0
    }
.bl1 {
    color: #fff;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 2px
    }
.bl2 {
    color: #fff;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 3em;
    margin: 0;
    padding: 2px
    }
.bl3 {
    color: #fff;
    display: block;
    font-size: 0.625em;
    line-height: 1.2;
    text-indent: 2em;
    margin: 5px 0 0;
    padding: 0
    }
.cab {
    color: #000;
    display: block;
    float: right;
    line-height: 1.2;
    margin-left: 15px;
    text-align: center;
    width: 130pt;
    border: #003 dotted 2px;
    padding: 10px
    }
.calibre {
    background: white;
    display: block;
    font-size: 1em;
    width: 99%;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    background: white;
    display: block;
    width: 99%;
    margin: 0;
    padding: 0
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    margin: 5px 0 0;
    padding: 0
    }
.calibre6 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre7 {
    background: white;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    margin: 0 5pt;
    padding: 0
    }
.calibre8 {
    background: white;
    display: block;
    width: 99%;
    margin: 0;
    border: rgb(128, 192, 192) solid 1px;
    padding: 0
    }
.calibre9 {
    display: block;
    text-align: center
    }
.calibre10 {
    height: auto;
    width: auto
    }
.calibre11 {
    display: none
    }
.calibre12 {
    display: block;
    text-align: right;
    margin: 5px 0 0;
    padding: 0
    }
.calibre13 {
    font-size: 0.83333em
    }
.calibre14 {
    display: block
    }
.calibre15 {
    background: white;
    background-color: #d0d8df;
    color: black;
    display: block;
    font-size: 1em;
    width: 99%;
    margin: 0 5pt;
    padding: 0
    }
.calibre16 {
    color: #4060C0;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre17 {
    color: #000060;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin: 0.83em 0
    }
.calibre18 {
    background-color: white;
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre19 {
    display: table-row-group;
    line-height: 1.2;
    vertical-align: middle
    }
.calibre20 {
    display: table-row;
    line-height: 1.2;
    vertical-align: inherit
    }
.calibre21 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre22 {
    font-family: Verdana;
    font-size: 1em;
    line-height: 1.2
    }
.calibre23 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre24 {
    display: block;
    line-height: 1.2;
    margin: 5px 0 0;
    padding: 0
    }
.calibre25 {
    line-height: 1.2
    }
.calibre26 {
    color: blue;
    font-family: Times News Roman;
    font-size: 1em;
    line-height: 1.2
    }
.calibre27 {
    display: block;
    line-height: 1.2;
    text-align: right
    }
.calibre28 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.2;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre29 {
    font-size: 0.83333em;
    line-height: 1.2
    }
.calibre30 {
    display: block;
    line-height: 1.2
    }
.calibre31 {
    color: #00f;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.67em 0
    }
.calibre32 {
    color: #800080;
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.83em 0
    }
.calibre33 {
    background-color: white;
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre34 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre35 {
    display: table-row;
    vertical-align: inherit
    }
.calibre36 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre37 {
    font-family: Verdana;
    font-size: 1em
    }
.calibre38 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    float: right;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre39 {
    display: table-cell;
    text-align: middle;
    vertical-align: inherit;
    padding: 1px
    }
.calibre40 {
    display: table-cell;
    text-align: center;
    vertical-align: inherit;
    padding: 1px
    }
.calibre41 {
    text-decoration: none
    }
.calibre42 {
    height: auto;
    width: 200px
    }
.calibre43 {
    font-family: Verdana, Helvetica, Microsoft Sans Serif, Tahoma;
    font-size: 0.625em
    }
.calibre44 {
    font-style: italic
    }
.calibre45 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre46 {
    display: block;
    font-family: Times New Roman;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 10px;
    text-align: center;
    margin: 1em 0
    }
.calibre47 {
    display: block;
    text-indent: 2em;
    margin: 5px 0 0;
    padding: 0
    }
.calibre48 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 2px
    }
.calibre49 {
    font-size: 0.625em;
    font-style: normal;
    line-height: 1.2;
    text-decoration: none;
    vertical-align: super
    }
.calibre50 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre51 {
    font-family: Verdana;
    font-size: 0.625em
    }
.calibre52 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre53 {
    display: table-row;
    line-height: 1.2;
    vertical-align: middle
    }
.calibre54 {
    display: table-cell;
    line-height: 1.2;
    text-align: center;
    vertical-align: inherit;
    padding: 1px
    }
.calibre55 {
    color: #666;
    display: block;
    font-family: "Times New Roman", "Times Roman", serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 0;
    margin: 0.67em 0 0
    }
.calibre56 {
    color: #DEAD00;
    font-style: italic;
    line-height: 1.2
    }
.calibre57 {
    float: left;
    height: 100px;
    line-height: 1.2;
    width: 79px
    }
.calibre58 {
    display: block;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre59 {
    color: #000;
    display: block;
    height: 2px;
    line-height: 1.2;
    margin: 0.5em 5pt;
    border: currentColor inset 1px;
    padding: 0
    }
.calibre60 {
    color: #800000;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre61 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre62 {
    display: table-row;
    vertical-align: middle
    }
.calibre63 {
    font-size: 1.33333em;
    line-height: 1.2
    }
.calibre64 {
    font-size: 0.83333em;
    line-height: normal;
    vertical-align: super
    }
.calibre65 {
    color: black
    }
.calibre66 {
    color: lightred
    }
.calibre67 {
    display: block;
    margin: 1em 0
    }
.calibre68 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.caratula {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0
    }
.cartel {
    background: inherited;
    display: block;
    height: inherited;
    margin-left: inherited;
    margin-right: inherited;
    width: inherited
    }
.centrado {
    display: block;
    font-size: 1em;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 2px
    }
.colofon {
    background: white;
    display: block;
    text-align: right;
    text-indent: 0;
    width: 99%;
    margin: 0;
    padding: 0
    }
.colofon1 {
    background: white;
    display: block;
    font-size: 0.83333em;
    text-align: right;
    text-indent: 0;
    width: 99%;
    margin: 0;
    padding: 0
    }
.correo {
    background: white;
    background-color: #c0c8d0;
    display: block;
    float: center;
    line-height: 1.2;
    width: 99%;
    margin: 0;
    padding: 0
    }
.cuento {
    display: block;
    font-family: "Times New Roman", "Times Roman", serif;
    line-height: 130%;
    text-indent: 2em;
    padding: 0
    }
.dedicatoria {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    text-indent: 0;
    margin: 0;
    padding: 2px
    }
.divul {
    display: block;
    font-family: Verdana, Arial, Sans Serif;
    text-align: justify
    }
.document {
    background: white;
    display: block;
    line-height: 1.2;
    width: 99%;
    margin: 0;
    padding: 0
    }
.editorial {
    display: block;
    line-height: 120%;
    text-indent: 0
    }
.indiceautor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.indicetitulo {
    color: #406070;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 0.67em auto
    }
.pri {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    margin: 3em 0 0;
    padding: 0
    }
.pri1 {
    display: block;
    text-indent: 0;
    margin: 2em 0 0;
    padding: 0
    }
.titulo-edit {
    color: #007080;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.pcalibre1:first-letter {
    font-size: 120%;
    font-weight: bold
    }
.pcalibre:first-letter {
    font-size: 120%;
    font-style: italic;
    font-weight: bold
    }
